*{
    margin: 0;
    box-sizing: border-box;
}
/*---------------- VARAIBLES -------------- */
:root{
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --padding-container: 80px 0;
}

body{
    font-family: var(--open-sans);
}

/*---------------- ENCABEZADO -------------- */

.container{
    /* border: 3px solid black; */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}

.hero{
    min-height: 100vh;
    position: relative;
    --wave-bottom: url('../images/bg-section-top-mobile-1.svg');
}

.hero__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;

}

.hero__logo{
    width: 45%;
    max-width: 160px;
}

.hero__huddle{
    width: 100%;
    display: block;
}

.hero__cta{
    color: var(--light-pink);
    text-decoration: none;
    border: 1px solid;
    padding: 6px 16px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}

.hero__main{
    text-align: center;
    color: var(--very-dark-cyan);
}

.hero__title{
    font-family: var(--poppins);
}

.hero__paragraph{
    margin: 16px 0;
    width: 90%;
    margin: 16px auto;
    line-height: 1.5;
}

.cta{
    display: inline-block;
    padding: 16px 30px;
    background-color: var(--pink);
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    margin-top: 16px;
    font-weight: 600;
}

.hero__picture{
    margin-top: 80px;
}

.hero__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.hero__numbers{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
}

.hero__item{
    overflow: hidden;
}

.hero__number{
    font-size: 60px;
}

.hero__icon{
    display: block;
}

.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
} 

.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}


/*---------------- CONTENIDO PRINCIPAL-------------- */

.section{
    background-color: var(--very-pale-blue);
    --padding-container: 210px 0;
    
}

.section--white{
    background-color: #fff;
    position: relative;
    --wave-top: url('../images/bg-section-bottom-mobile-1.svg');
    --wave-bottom: url('../images/bg-section-top-mobile-2.svg')
}

.section__container{
    display: flex;
    flex-direction: column;
}

.section__img{
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.section__texts{
    margin-top: 50px;
    text-align: center;
}

.subtitle{
    margin-bottom: 16px;
    font-family: var(--poppins);
}

/*---------------- SECCION PREGUNTAS -------------- */

.question{
    position: relative;
    text-align: center;
    --padding-container: 160px 0 220px;
    --wave-top: url('../images/bg-section-bottom-mobile-2.svg');
    --wave-bottom: url('../images/bg-footer-top-mobile.svg');
}

/*---------------- PIE DE PAGINA -------------- */

.footer__container{
    --padding-container: 25px 0;
}

.footer{
    background-color: var(--very-dark-cyan);
    color: #fff;
}

.footer__title{
    text-transform: uppercase;
    font-family: var(--poppins);
}

.footer__paragraph{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.footer__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
}

.footer__input{
    flex-basis: 100%;
    flex-grow: 1;
    font-size: 16px;
    font-family: var(--open-sans);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 16px 10px;
}

.footer__cta{
    font-size: var(--open-sans);
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--pink);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.footer__content{
    margin-top: 60px;
}

.footer__logo{
    background-color: var(--very-pale-blue);
    width: 70%;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
}

.hero__huddle--footer{
    width: 100%;
}

.footer__contact{
    line-height: 35px;
}

.footer__contact::after{
    content: "Phone: +1-543-123-4567";
    margin-left: 12px;
    font-size: 15px;
}

.footer__contact--email::after{
    content: "example@huddle.com";
}

.footer__social{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.footer__link{
    width: 30px;
    text-decoration: none;
}

.footer__icon{
    width: 100%;
    display: block;
}

